.login-frame {
  width: 100vw;
  height: 100vh;
}
.back-img {
  // div标签直接包裹img或iframe等标签的时候，div不设置高度，子标签设置高度，此时div标签会被撑开，同时div的高度会比子标签多3px或4px，
  // 这是由于子标签底部多了几个px的空白，由于子标签是行内元素，display属性值为inline，类似于文本，
  // 需要把img或iframe标签设置为块级元素，即给img、iframe这些标签设置{display:block}，就不会出现几像素的空白。
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
@media screen and (min-width: $max-media-width){
}
@media screen and (min-width: $middle-media-width) and (max-width: $max-media-width){
}
@media screen and (max-width: $mini-media-width){
  .mask {
    @include absolute(0, 0, 0, 0);
    background: rgba(1, 1, 1, 0.4);
    z-index: 1000;
    // 遮罩层挡住按钮
    pointer-events: none;
  }
  .darker {
    opacity: 0.5;
  }
  .login-box {
    @include absolute(0, 0, 0, 0);
    @extend .flex;
    flex-direction: column;
  }
  .avatar {
    background-image: url($root-avatar);
    background-size: 100%;
    object-fit: cover;
    border: 1px solid #ffffff;
    width: 45vw;
    height: 45vw;
    border-radius: 50%;
  }
  .occupation {
    width: 100vw;
    height: 5vh;
  }
  .PIN {
  }
}
